[Desktop Entry]
Name=Flashlapse
Comment=Starts Flashlapse
Icon=/home/pi/COSE_FLASHLAPSE/_image/icon.png
Exec=sh /home/pi/COSE_FLASHLAPSE/Flashlapse.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;